<% layout('./layouts/boilerplate.ejs') %>

    <div class="flex justify-center items-center py-40">
       <h3 class="font-mono text-4xl "> <span class="font-bold font-mono text-4xl"><%=err.status%>:</span>  <%=err.message%> </h3>
        
    </div>