<% layout('/layouts/boilerplate.ejs') %>

  <form action="/new" method="post" class="max-w-sm mx-auto pt-12" enctype="multipart/form-data">
    <h1 class="text-4xl font-bold pb-8">Add new post</h1>
    <div class="mb-5">
      <div class="flex items-center justify-center w-full">
        <label for="dropzone-file"
          class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50">
          <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg class="w-8 h-8 mb-4 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 20 16">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
            </svg>
            <p class="mb-2 text-sm text-gray-500 "><span class="font-semibold">Click to upload</span> or drag and drop
            </p>
            <p class="text-xs text-gray-500 ">SVG, PNG or JPG (MAX. 800x400px)</p>
          </div>
          <input id="dropzone-file" type="file" class="hidden" name="img" />
        </label>
      </div>
    </div>
    <div class="mb-5">
      <label for="title" class="block mb-2 text-sm font-bold text-gray-900 ">Title*</label>
      <input required name="title" id="" cols="30" rows="10" placeholder="title"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
    </div>
    <div>
      <label for="description" class="block mb-2 text-sm font-bold text-gray-900 ">Description</label>
      <textarea required type="text" name="description" placeholder="Write your thoughts"
        class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500"></textarea>
    </div>
    <button
      class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-12 py-2.5 mx-8 text-center mt-6 ml-0">Post</button>
  </form>